@page
@model TailspinToys.Web.Pages.CampaignModel

<h1>@Model.Campaign?.Name</h1>
<p>@Model.Campaign?.Description</p>
<p>Current: @Model.Campaign?.CurrentAmount</p>
<p>Goal: @Model.Campaign?.GoalAmount</p>
