@page
@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

<h1>Contact</h1>

<p>Esteban Garcia</p>
<p>GitHub: <a href="https://github.com/estebang" target="_blank">https://github.com/estebang</a></p>